<nav>
  <ul>
    <% for (let item in theme.menu.social) { %>
      <li>
        <a href="<%= theme.menu.social[item].url %>" target="_blank" rel="noreferrer">
          <%- theme.menu.social[item].svg %>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
