/* ==========================================================================
  Variables
========================================================================== */

/* Footer
========================================================================== */
.footer {
  padding-top: 2rem;
  text-align: center;
}

.footer-text {
  font-size: 1rem;
}
