<header class="header">
  <div class="container">
    <div class="header-content">
      <button class="mobileButton js-menu-trigger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 448"><path d="M0 48h448v96H0V48zm0 128h448v96H0v-96zm0 128h448v96H0v-96z"></path></svg> <span class="mobileButton-text">Menu</span></button>
      <%- partial('_partial/body/header/logotype') %>
      <div class="header-overlay">
        <%- partial('_partial/body/header/navs/main') %>
        <%- partial('_partial/body/header/navs/social') %>
      </div>
    </div>
  </div>
</header>
